.hero {
  max-width: $content-width;
  padding: 0 4rem;
  display: flex;
  align-items: center;

  .text {
    padding-left: 4rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .logo {
    border: 2px solid $white;
    padding: 2rem;
    height: 14rem;
    flex-grow: 0;
    user-select: none;

    img {
      height: 100%;
    }
  }
}

@media screen and (max-width: $tablet-landscape-max) {
  .hero .logo {
    height: 12rem;
  }
}

@media screen and (max-width: $tablet-portrait-max) {
  .hero {
    padding: 3rem;
    flex-direction: column;
    align-items: flex-start;

    .text {
      padding-top: 3rem;
      padding-left: 0;
    }

    .logo {
      padding: 3rem;
      height: auto;
      width: 100%;
      max-width: 50vh;
    }
  }
}
