{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div class="main">
    <div class="hero">
        <div class="logo">
            <img src="/img/logo.svg" alt="">
        </div>
        <div class="text">
            <h1>Finally, a podcast where two guys sit<span class="mobile-only">&nbsp;</span><br class="hide-mobile">around talking about videogames.</h1>
            <div class="button-group">
                <a href="https://itun.es/us/2ft7hb.c" class="button white">Subscribe</a>
                <a href="https://soundcloud.com/gamesthatmadeus" class="button simple orange">Listen on Soundcloud</a>
                <a href="https://twitter.com/gamesthatmadeus" class="button simple">@gamesthatmadeus</a>
            </div>
        </div>
    </div>
</div>
{{/content}}
{{/extend}}
